<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css"/>
    <link rel="stylesheet" href="{{ asset('style/global.css') }}">
    <link rel="stylesheet" href="{{ asset('style/header/style.css') }}">
    <link rel="stylesheet" href="{{ asset('style/index/style.css') }}">
    <link rel="stylesheet" href="{{ asset('style/crud/modal/update.css') }}">
    <script src="{{ asset('script/header/script.js') }}"></script>
    <script src="{{ asset('script/crud/delScript.js') }}"></script>
    <script src="{{ asset('script/crud/modal/update.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


</head>
<body>
    {% block header %}

    {% endblock %}

    {% block content %}

    {% endblock %}
</body>
</html>