{% extends 'base/base.html.twig' %}
{% block content %}
{% include 'partials/header.html.twig' %}

<article class="container">
    <table role="grid">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in paginator %}
            <tr>
                <th scope="row">{{ client.id }}</th>
                <td>{{ client.firstName }}</td>
                <td>{{ client.lastName }}</td>
                <td>{{ client.email }}</td>
                <td>
                    <a class="see" data-tooltip="Read" href="{{ path('readOne', {'id': client.id}) }}"><i class="iconoir-doc-magnifying-glass-in"></i></a>
                    <a class="edit" data-tooltip="Edit"><i class="iconoir-page-edit"></i></a>
                    <a class="del" data-tooltip="Delete"><i class="iconoir-multiple-pages-xmark"></i></a>
                </td>
            </tr>
            {% include 'modals/delete.html.twig' with {'client': client} %}
            {% include 'modals/update.html.twig' with {'client': client} %}
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        <label>
            Páginas:
            {% if paginator is not empty %}
                {% set page = paginator.getQuery().getFirstResult() / paginator.getQuery().getMaxResults() + 1 %}
                {% set pageCount = (paginator.count() / paginator.getQuery().getMaxResults())|round(0, 'ceil') %}
                {% for i in 1..pageCount %}
                    {% if i == page %}
                        <span>{{ i }}</span>
                    {% else %}
                        <a href="{{ path('read', {'page': i}) }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </label>
    </div>
</article>

{% endblock %}